<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" (click)="viewProduct()">
    Ver producto
</button>



<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Codigo</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="product.proCodigo" readonly>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="product.proNombre">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Descripcion</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="product.proDescripcion">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Precio</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="product.proPrecio">
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" (click)="updateProduct()">
    Actualizar
</button>