<nav class="navHome navbar bg-dark" data-bs-theme="dark">
  <!-- Navbar content -->
  <div class="container-fluid">
    <h4 class="tituloHome">Productos</h4>

    <!-- Button trigger modal -->
    <button *ngIf="!viewPost" type="button" class="btn btn-primary btnCreate" data-bs-toggle="modal"
      data-bs-target="#exampleModal" (click)="viewPost = !viewPost">
      Nuevo
    </button>
    <button *ngIf="viewPost" type="button" class="btn btn-primary btnCreate" data-bs-toggle="modal"
      data-bs-target="#exampleModal" (click)="viewPost = !viewPost">
      Regresar
    </button>
  </div>
</nav>


<div class="container lista">
  <app-post *ngIf="viewPost"></app-post>
  <app-get *ngIf="!viewPost"></app-get>

</div>